* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 22, 0, 44;
    --color-text-footer: 255, 255, 255;
    --color-fill-primary: 223, 218, 205;
    --color-fill-secondary: 239, 238, 242;
    --color-fill-footer: 22, 0, 44;
    --color-button-muted: 88, 78, 244;
  }

  @font-face {
    font-family: "Patron";
    font-weight: 400;
    src: url('/fonts/Patron-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: "Patron";
    font-weight: 500;
    src: url('/fonts/Patron-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: "Patron";
    font-weight: 700;
    src: url('/fonts/Patron-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: "Patron";
    font-weight: 900;
    src: url('/fonts/Patron-Black.woff2') format('woff2');
  }
}

.splide__pagination__page.is-active {
  background: #685FF5 !important;
}